<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1 style="font-size: 40px;">Select the movie</h1>
    
    <a href="#" style="text-decoration: none;">
        <ol style="color: brown;">
        <li>Mission impossible</li>
        <li>Flash</li>
        <li>Bro</li>
        <li>oppenheimer</li>
        </ol>
    </a>

    <a href="{% url 'app2:seats' %}">Click here to go to Seat selection</a>
</body>
</html>